{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}

{% block body %}

    <div class="container">
        <h3>Liste des utilisateurs :</h3>

        <div class="row mb-3">
            {% for user in users %}

                {% if(user.id != app.user.id)  %}
                    <div class="col-lg-6">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h3 class="card-title">{{ user.username }}</h3>
                                <p class="card-text">Email : {{ user.email }}</p>
    {#                            <p>Rôle(s) de {{ user.firstName }}</p>#}
                                {% for role in user.roles %}
                                    <p>{{ role is same as("ROLE_ADMIN") ? "Administrateur" }}</p>
                                {% endfor %}
                                <a href="{{ path('user.show', {slug: user.slug, id: user.id}) }}" class="btn btn-primary">Voir son profil</a>
                                <a href="{{ path('user.delete', {slug: user.slug, id: user.id}) }}" class="btn btn-outline-danger">Supprimer le profil</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            {{ knp_pagination_render(users, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>


{% endblock %}