{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <a href="{{ path("app_homepage") }}">Home</a>
                <h1>{{ ad.title }}</h1>
                <p>{{ ad.description }}</p>
                <p>Prix : {{ ad.price|round(2, 'floor') }} $</p>
                <a href="#" class="btn btn-primary mb-3">Ajouter au panier</a>
                <p>Questions :</p>
                <ol>
                    {% for questions in ad.question %}
                        <li>{{ questions.text }} ?</li>
                        <p><i class="fas fa-arrow-right"></i> {{ questions.answer.text }}</p>
                    {% endfor %}
                </ol>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vendu par {{ ad.user.firstName }} {{ ad.user.lastName }}</h5>
                        <p class="card-text">UpVote : {{ ad.user.upVote }} DownVote : {{ ad.user.downVote }}</p>
                        <a href="/user/{{ ad.user.id }}" class="btn btn-warning">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}