{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 mb-3">

                <div class="card mb-3">
                    <img src="{{ ad.imageName ? vich_uploader_asset(ad, 'imageFile') : "https://www.yateo.com/blog/wp-content/uploads/2020/03/symfony.jpg" }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p>Publié le {{ ad.createdAt|date("d/m/Y") }}</p>
                        <h1 class="card-title">{{ ad.title }}</h1>
                        <p class="card-text">{{ ad.description }}</p>
                        <p>Prix : {{ ad.price|round(2, 'floor') }} $</p>
                        <a href="#" class="btn btn-primary mb-3">Ajouter au panier</a>
                    </div>
                </div>

                {% if app.user.id == ad.user.id or is_granted('ROLE_ADMIN') %}

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#suppModal">
                        Supprimer l'annonce
                    </button>

                    <a href="{{ path('ad.edit', {slug: ad.slug, id: ad.id}) }}"  class="btn btn-outline-warning">
                        Modifier l'annonce
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="suppModal" tabindex="-1" aria-labelledby="suppModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Etes vous sur de vouloir supprimer définitivement votre annonce ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                    <a href="{{ path('ad.delete', {slug: ad.slug, id: ad.id}) }}" class="btn btn-danger">Oui supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div>
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vendu par {{ ad.user.firstName }} {{ ad.user.lastName }}</h5>
                        <p class="card-text">UpVote : {{ ad.user.upVote }} DownVote : {{ ad.user.downVote }}</p>
                        <a href="{{ path('user.show', {slug: ad.user.slug, id: ad.user.id}) }}" class="btn btn-warning">En savoir plus</a>
                    </div>
                </div>

                <p>Questions :</p>
                <ol>
                    {% for question in ad.question %}
                        <li>{{ question.text }} de <a href="{{ path('user.show', {slug: question.user.slug, id: question.user.id}) }}">{{ question.user.username }}</a></li>
                        <p><i class="fas fa-arrow-right"></i> {{ question.answer.text|default('') }}</p>
                    {% endfor %}
                </ol>

                {% if app.user.id != ad.user.id %}
                    {{ form_start(question_form) }}
                    {{ form_label(question_form, 'Question :') }}
                    {{ form_widget(question_form) }}
                    <button type="submit" class="btn btn-outline-primary">Envoyer</button>
                    {{ form_end(question_form) }}
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}