{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <div class="container">

        {% if app.user %}
            <div class="mb-3">
                Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}
            </div>

            {{ form_start(formAd) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(formAd) }}

        {% endif %}

        <div class="mt-5">
            {% for tags in tag %}
                <input type="checkbox" class="form-check-input" id="{{ tags.id }}">
                <label class="form-check-label" for="{{ tags.id }}">{{ tags.title }}</label>
            {% endfor %}
        </div>

        <div class="row">

            {% for annonce in ad %}
                <div class="col-lg-6">
                    <div class="card mb-3 mt-3">
                        <img src="{{ annonce.image }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.title }}</h5>
                            {% for tag in annonce.tags %}
                                <p class="badge bg-secondary">{{ tag.title }}</p>
                            {% endfor %}

                            <p class="card-text">{{ annonce.description }}</p>
                            <p>Prix : {{ annonce.price|round(2, 'floor') }} $</p>
                            <p>Questions posé : {{ annonce.question|length }}</p>

                            {% if app.user %}
                                <a href="/ad/{{ annonce.id }}" class="btn btn-primary">Voir l'annonce</a>
                                <a href="/user/{{ annonce.user.id }}" class="btn btn-outline-warning">Voir le vendeur</a>
                            {% else %}
                                <p><b><a href="{{ path('app_login') }}">Connectez-vous</a> pour voir l'annonce</b></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}