{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <div class="container">

        {% if app.user %}
            <h2 class="mb-3">
                Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}
            </h2>

            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                Ajouter une nouvelle annonce
            </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvasExampleLabel">Nouvelle annonce</h4>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {{ form_start(formAd) }}
                    {{ form_widget(formAd) }}
                    <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                    {{ form_end(formAd) }}
                </div>
            </div>


        {% endif %}

        <div class="mt-5">
            <form action="{{ path("search_tag") }}">
                <label for="search">Recherche par <b>tag</b> ou par <b>titre</b> :</label>
                <input id="search" type="search" placeholder="Search..." name="s" aria-label="Search" value="{{ app.request.query.get('s') | default('') }}">
            </form>
        </div>

        <div class="row">

            {% for ad in ads|default() %}
                <div class="col-lg-6">
                    <div class="card mb-3 mt-3">
                        <img src="{{ ad.imageName ? vich_uploader_asset(ad, 'imageFile') : "https://www.yateo.com/blog/wp-content/uploads/2020/03/symfony.jpg" }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <p>Publié le {{ ad.createdAt|date("d/m/Y") }}</p>
                            <h3 class="card-title">{{ ad.title }}</h3>
                            {% for tag in ad.tags %}
                                <p class="badge bg-secondary">{{ tag.title }}</p>
                            {% endfor %}

                            <p class="card-text">{{ ad.description }}</p>
                            <p>Prix : <b>{{ ad.price|round(2, 'floor') }} $</b></p>
                            <p>Questions posé : {{ ad.question|length }}</p>

                            {% if app.user %}
                                <a href="{{ path('ad.show', {slug: ad.slug, id: ad.id}) }}" class="btn btn-primary">Voir l'annonce</a>
                                <a href="{{ path('user.show', {slug: ad.user.slug, id: ad.user.id}) }}" class="btn btn-outline-warning">Voir le vendeur</a>
                            {% else %}
                                <p><b><a href="{{ path('login') }}">Connectez-vous</a> pour voir l'annonce</b></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <style>
        .offcanvas-body #ad div {
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}

{% block javascripts %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $("select").select2();
    </script>
{%  endblock %}