{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <a href="{{ path("app_connexion") }}">Connexion</a>
    <a href="{{ path("app_inscription") }}">Inscription</a>

    <h1>LeBoncoin</h1>

    {% for ads in ad %}
        <div class="card mb-3 mt-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ ads.title }}</h5>
                <p class="card-text">{{ ads.description }}</p>
                <p>Prix : {{ ads.price|round(2, 'floor') }} $</p>
                <a href="/ad/{{ ads.id }}" class="btn btn-primary mb-2">En savoir plus</a>
                <a href="/user/{{ ads.user.id }}" class="btn btn-outline-warning">Voir le vendeur</a>
            </div>
        </div>
    {% endfor %}

    </div>





{% endblock %}