{% extends 'base.html.twig' %}

{% block title %}
    {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block body %}

    <a href="{{ path("app_homepage") }}">Home</a>

    <h3>Bienvenue {{ user.firstName }} {{ user.lastName }} !</h3>

    <form action="{{ path('app_user_vote', { id: user.id }) }}" method="post">
        <button class="btn btn-success" name="vote" value="up">Vote up</button>
        <span>{{ user.upVote }}</span>
        <button class="btn btn-danger" name="vote" value="down">Vote down</button>
        <span>{{ user.downVote }}</span>
    </form>

{% endblock %}